@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$facebook-color-theme: hsl(208, 92%, 53%);
$twitter-color-theme: hsl(203, 89%, 53%);
$instagram-color-theme: linear-gradient(
  to right,
  hsl(37, 97%, 70%),
  hsl(329, 70%, 39%)
);
$youtube-color-theme: hsl(348, 97%, 39%);
$dark-theme-toggle: linear-gradient(
  to right,
  hsl(210, 78%, 56%),
  hsl(146, 68%, 55%)
);
$light-theme-toggle: hsl(230, 22%, 74%);

// dark theme colors
$Very-Dark-Blue-bg: hsl(230, 17%, 14%);
$Very-Dark-Blue-top-bg-pattern: hsl(232, 19%, 15%);
$Dark-Desaturated-Blue-card-bg: hsl(228, 28%, 20%);
$Desaturated-Blue-text: hsl(228, 34%, 66%);
$text-color: hsl(0, 0, 100%);

// light theme colors
$text-color: hsl(0, 0%, 100%);
$Very-Pale-Blue: hsl(225, 100%, 98%);
$Light-Grayish-Blue: hsl(227, 47%, 96%);
$Dark-Grayish-Blue: hsl(228, 12%, 44%);
$Very-Dark-Blue: hsl(230, 17%, 14%);

// typography
$fz-primary: 1.4rem;
$ff-primary: "Inter", sans-serif;
$fw-normal: 400;
$fw-bold: 700;
